.table_display_container {
	--highlight-filter: brightness(150%);
	--highlight-color: white;
	--table-font-size-default: 0.9rem;
	--table-font-size: var(--table-font-size-default);
	--table-border: 1px solid var(--color-grey0);
	background-color: var(--color-grey5);
	overflow: auto;
	padding: 0.5rem;

	.no_table_text {
		font-weight: 400;
		color: var(--color-grey1);
	}

	.table {
		border-spacing: 0;

		&.fit_cell_min {
			th,
			td {
				width: 1.5rem;
				white-space: wrap;
			}
		}

		&.colored {
			tbody td {
				color: black;
			}
		}

		thead,
		tbody {
			tr {
				th.highlighted,
				td.highlighted {
					box-shadow: inset 2px 0 0 0 var(--highlight-color), inset -2px 0 0 0 var(--highlight-color);
					filter: none;
				}
			}

			&thead th.highlighted {
				box-shadow: inset 2px 0 0 0 var(--highlight-color), inset -2px 0 0 0 var(--highlight-color),
					inset 0 2px 0 0 var(--highlight-color);
			}

			&tbody tr:last-child td.highlighted {
				box-shadow: inset 2px 0 0 0 var(--highlight-color), inset -2px 0 0 0 var(--highlight-color),
					inset 0 -2px 0 0 var(--highlight-color);
			}
		}

		th,
		td {
			min-width: 1.5rem;
			white-space: nowrap;
			padding: 0.2rem 0.25rem;
			font-size: var(--table-font-size);
			font-weight: 600;

			border-top: var(--table-border);
			border-right: var(--table-border);

			&:first-child {
				border-left: var(--table-border);
			}

			a {
				font-size: var(--table-font-size);
			}
		}

		tr {
			height: 1rem;
		}

		thead {
			tr {
				background-color: #424242;

				&.add_bottom_border {
					th {
						border-bottom: var(--table-border);
					}
				}

				th {
					color: var(--color-grey0);
					vertical-align: top;
					font-weight: 800;

					border-right-color: var(--color-grey1);
					&:last-child {
						border-right-color: var(--color-grey0);
					}
				}
			}
		}

		tbody {
			tr {
				&:last-child {
					td,
					th {
						border-bottom: var(--table-border);
					}
				}

				&.highlighted {
					filter: none;

					th,
					td {
						box-shadow: inset 0 2px 0 0 var(--highlight-color), inset 0 -2px 0 0 var(--highlight-color);

						&th {
							box-shadow: inset 0 2px 0 0 var(--highlight-color), inset 0 -2px 0 0 var(--highlight-color),
								inset 2px 0 0 0 var(--highlight-color);
						}

						&td:last-child {
							box-shadow: inset 0 2px 0 0 var(--highlight-color), inset 0 -2px 0 0 var(--highlight-color),
								inset -2px 0 0 0 var(--highlight-color);
						}
					}
				}

				th {
					color: var(--color-grey0);
					text-align: start;
					background-color: var(--color-grey5);
				}

				td {
					color: var(--color-grey0);
					background-color: var(--color-grey5);

					&:not(&.rating_cell):hover {
						cursor: pointer;
						filter: brightness(150%);
					}

					&.rating_cell {
						font-weight: 800;
						text-align: center;
					}

					.link {
						color: #00ff00;
						pointer-events: none;

						&.clickable {
							pointer-events: all;
						}
					}
				}
			}
		}
	}
}
