.table_display_container {
	grid-area: table_display;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: start;
	align-items: start;
	padding: 1rem;
	background-color: var(--color-grey1);
	overflow: auto;
	--rating-section-width: 4rem;
	--cell-width: 7rem;
	--cell-padding: 0.5rem;
	--cell-border: 1px solid var(--color-grey5);
	--section-border-radius: 1rem;
	--highlight-color: var(--color-grey1);
	--highlight-filter: brightness(120%);
	--highlight-border-color: var(--color-grey0);

	.table {
		display: flex;
		flex-flow: column nowrap;
		/* transform-origin: 0 0;
		transform: scale(0.6); */

		.attribute_section {
			display: flex;
			flex-flow: row nowrap;
			align-items: end;

			.attribute,
			.corner_gap {
				width: var(--cell-width);
				height: max-content;
				/* min-height: 3rem; */
				display: flex;
				justify-content: center;
				align-items: end;
				background-color: var(--color-grey1);

				&.attribute {
					border-top-left-radius: var(--section-border-radius);
					border-top-right-radius: var(--section-border-radius);

					&.highlighted {
						filter: brightness(110%);
						box-shadow: inset 2px 2px 0 var(--highlight-border-color),
							inset -2px 0px 0 var(--highlight-border-color);

						/* .attribute_name {
						} */
					}

					.attribute_name {
						color: var(--color-grey0);
						width: min-content;
						max-width: var(--cell-width);
						font-weight: 600;
						padding: var(--cell-padding);
						inline-size: min-content;
						overflow-wrap: break-word;
						text-align: center;
					}
				}
			}

			.final_rating_label {
				width: var(--rating-section-width);
				color: var(--color-grey0);
				text-align: center;
				display: flex;
				align-items: center;
				padding: var(--cell-padding);
			}
		}

		.entry_section {
			display: flex;
			flex-flow: column nowrap;
			gap: 0.5rem;

			.entry {
				height: max-content;
				min-height: 3rem;
				display: flex;
				flex-flow: row nowrap;
				border-radius: var(--section-border-radius);
				cursor: pointer;

				&:last-child {
					.entry_cell_section {
						.entry_cell.highlighted {
							box-shadow: inset 2px 0px 0 var(--highlight-border-color),
								inset -2px 0px 0 var(--highlight-border-color), inset 0px -2px 0 var(--highlight-border-color);
						}
					}
				}

				&.highlighted {
					outline: 2px solid var(--highlight-border-color);

					.entry_name,
					.final_rating {
						filter: var(--highlight-filter);
					}

					.entry_cell_section {
						border-radius: 0;

						.entry_cell {
							filter: var(--highlight-filter);
						}
					}
				}

				.entry_name {
					width: var(--cell-width);
					min-height: inherit;
					display: flex;
					align-items: center;
					color: var(--color-grey0);
					background-color: var(--color-grey1);
					padding: var(--cell-padding);
					border-top-left-radius: var(--section-border-radius);
					border-bottom-left-radius: var(--section-border-radius);
				}

				.entry_cell_section {
					display: flex;
					flex-flow: row nowrap;
					overflow: hidden;
					border-top-left-radius: 1rem;
					border-bottom-left-radius: 1rem;
					background-color: var(--color-grey0);

					&:has(.entry_cell:first-child.highlighted) {
						border-radius: 0;
					}

					.entry_cell {
						width: var(--cell-width);
						display: flex;
						flex-flow: row nowrap;
						justify-content: center;
						align-items: center;
						border-right: var(--cell-border);
						background-color: inherit;

						&:hover {
							box-shadow: inset 2px 2px 0 var(--highlight-border-color),
								inset -2px -2px 0 var(--highlight-border-color);
							filter: var(--highlight-filter);
						}

						&:last-child {
							border-right: none;
						}

						&.highlighted {
							filter: var(--highlight-filter);
							box-shadow: inset 2px 0px 0 var(--highlight-border-color),
								inset -2px 0px 0 var(--highlight-border-color);
						}

						.entry_value {
							width: max-content;
							max-width: var(--cell-width);
							font-weight: 600;
							color: var(--color-grey5);
							padding: var(--cell-padding);
							inline-size: max-content;
							overflow-wrap: break-word;
							text-align: center;
						}
					}
				}

				.final_rating {
					width: var(--rating-section-width);
					min-height: inherit;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: var(--color-grey1);
					color: var(--color-grey5);
					border-top-right-radius: var(--section-border-radius);
					border-bottom-right-radius: var(--section-border-radius);
					border-left: 4px solid var(--color-grey5);
				}
			}
		}
	}
}
