.table_display_container {
	grid-area: table_display;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: safe center;
	align-items: safe center;
	background-color: var(--color-grey1);
	overflow: auto;
	--rating-section-width: 4rem;
	--cell-width: 7rem;
	--cell-padding: 0.5rem;
	--cell-border: 1px solid var(--color-grey5);
	--section-border-radius: 1rem;
	--highlight-color: var(--color-grey1);

	.table {
		display: flex;
		flex-flow: column nowrap;

		.attribute_section {
			display: flex;
			flex-flow: row nowrap;

			.attribute,
			.corner_gap {
				width: var(--cell-width);
				height: 3rem;
				padding: var(--cell-padding);
				display: flex;
				justify-content: center;
				background-color: var(--color-grey1);

				&.attribute {
					border-top-left-radius: var(--section-border-radius);
					border-top-right-radius: var(--section-border-radius);

					&.highlighted {
						filter: brightness(110%);

						.attribute_name {
						}
					}

					.attribute_name {
						color: var(--color-grey0);
						text-align: center;
					}
				}
			}

			.final_rating_label {
				width: var(--rating-section-width);
				color: var(--color-grey0);
				text-align: center;
				display: flex;
				align-items: center;
				padding: var(--cell-padding);
			}
		}

		.entry_section {
			display: flex;
			flex-flow: column nowrap;
			gap: 0.5rem;

			.entry {
				height: max-content;
				min-height: 3rem;
				display: flex;
				flex-flow: row nowrap;

				&.highlighted {
					.entry_name,
					.final_rating {
						color: var(--color-grey0);
						filter: brightness(110%);
					}

					.entry_cell_section {
						border-radius: 0;

						.entry_cell {
							filter: brightness(120%);

							.entry_prefix,
							.entry_value,
							.entry_suffix {
								filter: brightness(80%);
							}
						}
					}
				}

				&:first-child {
					.entry_cell_section {
						&:has(.entry_cell:first-child.highlighted) {
							border-top-left-radius: 0;
						}
						&:has(.entry_cell:last-child.highlighted) {
							border-top-right-radius: 0;
						}
					}
				}

				.entry_name {
					width: var(--cell-width);
					min-height: inherit;
					display: flex;
					align-items: center;
					color: var(--color-grey0);
					background-color: var(--color-grey1);
					padding: var(--cell-padding);
					border-top-left-radius: var(--section-border-radius);
					border-bottom-left-radius: var(--section-border-radius);
				}

				.entry_cell_section {
					display: flex;
					flex-flow: row nowrap;
					overflow: hidden;
					border-radius: 1rem;
					background-color: var(--color-grey2);

					.entry_cell {
						width: var(--cell-width);
						display: flex;
						flex-flow: row nowrap;
						justify-content: center;
						align-items: center;
						border-right: var(--cell-border);
						background-color: inherit;
						padding: var(--cell-padding);

						&:last-child {
							border-right: none;
						}

						&.highlighted {
							filter: brightness(120%);

							.entry_prefix,
							.entry_value,
							.entry_suffix {
								filter: brightness(80%);
							}
						}

						.entry_prefix,
						.entry_value,
						.entry_suffix {
							font-weight: 400;

							&.entry_prefix {
							}
							&.entry_value {
								/* word-break: break-all; */
							}
							&.entry_suffix {
							}
						}
					}
				}

				.final_rating {
					width: var(--rating-section-width);
					min-height: inherit;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: var(--color-grey1);
					color: var(--color-grey0);
					border-top-right-radius: var(--section-border-radius);
					border-bottom-right-radius: var(--section-border-radius);
				}
			}
		}
	}
}
