.table_display_container {
	--highlight-filter: brightness(150%);
	--table-font-size-default: 0.9rem;
	--table-font-size: var(--table-font-size-default);
	--table-border: 1px solid var(--color-grey0);
	background-color: var(--color-grey5);
	overflow: auto;
	padding: 0.5rem;

	.table {
		/* border-spacing: 0 0.25rem; */
		border-spacing: 0;

		&.fit_cell_min {
			th,
			td {
				width: 1.5rem;
				white-space: wrap;
			}
		}

		&.colored {
			tbody td {
				color: black;
			}

			tr.highlighted {
				filter: none;
				transform-origin: 0 50%;
				transform: scale(1.05);
				box-shadow: 0px 0px 0.3rem 0px var(--color-grey4);

				td,
				th {
					border-top: none;
					border-bottom: none;
				}
			}

			thead th.highlighted,
			tbody td.highlighted {
				/* filter: brightness(130%) contrast(200%); */
				filter: none;
				outline: 2px solid var(--color-grey0);
			}
		}

		th,
		td {
			min-width: 1.5rem;
			white-space: nowrap;
			padding: 0.2rem 0.25rem;
			font-size: var(--table-font-size);

			border-top: var(--table-border);
			border-right: var(--table-border);

			&:first-child {
				border-left: var(--table-border);
			}

			a {
				font-size: var(--table-font-size);
			}
		}

		tr {
			height: 1rem;

			&.highlighted {
				filter: var(--highlight-filter);
			}
		}

		thead {
			tr {
				background-color: #424242;

				th {
					color: var(--color-grey0);
					vertical-align: top;

					border-right-color: var(--color-grey1);
					&:last-child {
						border-right-color: var(--color-grey0);
					}

					&.highlighted {
						filter: var(--highlight-filter);
					}
				}
			}
		}

		tbody {
			tr {
				&:last-child {
					td,
					th {
						border-bottom: var(--table-border);
					}
				}

				th {
					color: var(--color-grey0);
					text-align: start;
					background-color: var(--color-grey5);
				}

				td {
					color: var(--color-grey0);
					background-color: var(--color-grey5);

					&:not(&.rating_cell):hover {
						cursor: pointer;
						filter: brightness(150%);
					}

					&.rating_cell {
						font-weight: 600;
						text-align: center;
					}

					&.highlighted {
						filter: var(--highlight-filter);
					}

					.link {
						color: #00ff00;
						pointer-events: none;

						&.clickable {
							pointer-events: all;
						}
					}
				}
			}
		}
	}
}
