.table_display_container {
	--highlight-filter: brightness(150%);
	--highlight-color: var(--color-text-light);
	--table-font-size-default: 0.9rem;
	--table-font-size: var(--table-font-size-default);
	--table-border: 1px solid var(--color-text-light);
	background-color: var(--color-dark);
	overflow: auto;
	padding: 1rem;
	scrollbar-color: var(--color-text-light-soft) var(--color-dark);

	.no_table_text {
		font-weight: 400;
		color: var(--color-text-light-extra-soft);
	}

	.table {
		border-spacing: 0;

		&.fit_cell_min {
			th,
			td {
				width: 1.5rem;
				white-space: wrap;
			}
		}

		&.colored {
			tbody {
				td {
					color: var(--color-text-dark);
					font-weight: 600;
				}
				th {
					font-weight: 800;
				}
				.link {
					font-weight: 600;
				}
			}
		}

		th,
		td {
			min-width: 1.5rem;
			white-space: nowrap;
			padding: 0.2rem 0.25rem;
			font-size: var(--table-font-size);
			border-top: var(--table-border);
			border-right: var(--table-border);

			&:first-child {
				border-left: var(--table-border);
			}

			a {
				font-size: var(--table-font-size);
			}
		}

		thead {
			tr {
				background-color: var(--color-primary);
				height: 1rem;

				&.add_bottom_border {
					th {
						border-bottom: var(--table-border);
					}
				}

				th {
					color: var(--color-text-light-soft);
					vertical-align: top;
					font-weight: 800;
					border-right-color: var(--color-text-light-extra-soft);

					&:last-child {
						border-right-color: var(--color-text-light);
					}

					&.highlighted {
						box-shadow: inset 2px 0 0 0 var(--highlight-color), inset -2px 0 0 0 var(--highlight-color),
							inset 0 2px 0 0 var(--highlight-color);
						filter: none;
					}
				}
			}
		}

		tbody {
			tr {
				height: 1rem;

				&:last-child {
					td,
					th {
						border-bottom: var(--table-border);
					}

					td.highlighted {
						box-shadow: inset 2px 0 0 0 var(--highlight-color), inset -2px 0 0 0 var(--highlight-color),
							inset 0 -2px 0 0 var(--highlight-color);
					}
				}

				th,
				td {
					&.highlighted {
						box-shadow: inset 2px 0 0 0 var(--highlight-color), inset -2px 0 0 0 var(--highlight-color);
						filter: none;
					}
				}

				&.highlighted {
					filter: none;

					th,
					td {
						box-shadow: inset 0 2px 0 0 var(--highlight-color), inset 0 -2px 0 0 var(--highlight-color);

						&th {
							box-shadow: inset 0 2px 0 0 var(--highlight-color), inset 0 -2px 0 0 var(--highlight-color),
								inset 2px 0 0 0 var(--highlight-color);
						}

						&td:last-child {
							box-shadow: inset 0 2px 0 0 var(--highlight-color), inset 0 -2px 0 0 var(--highlight-color),
								inset -2px 0 0 0 var(--highlight-color);
						}
					}
				}

				th {
					color: var(--color-text-light);
					text-align: start;
					font-weight: 600;
					background-color: var(--color-dark);
				}

				td {
					color: var(--color-text-light);
					background-color: var(--color-dark);
					font-weight: 400;

					&:not(&.rating_cell):hover {
						cursor: pointer;
						filter: brightness(150%);
					}

					&.rating_cell {
						font-weight: 800;
						text-align: center;
					}

					.link {
						color: var(--color-accent);
						pointer-events: none;
						font-weight: 400;

						&.clickable {
							pointer-events: all;
						}
					}
				}
			}
		}
	}
}
