.combobox_container {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	border-radius: 0.5rem;

	.select_display {
		display: flex;
		flex: none;
		justify-content: space-between;
		background-color: var(--color-grey2);
		border-radius: inherit;

		&:has(.display_text[contenteditable='true']) {
			outline: 2px solid var(--color-grey5);
		}

		.display_text {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			cursor: pointer;
			padding-left: 0.7rem;
			color: var(--color-grey0);
			font-size: 0.9rem;

			&[contenteditable='true'] {
				outline: none;
				cursor: text;

				&:focus:empty {
					display: table-cell;
					vertical-align: middle;
				}
			}
		}

		.down_arrow {
			display: flex;
			align-items: center;
			width: max-content;
			height: 100%;
			font-weight: 400;
			cursor: pointer;
			padding: 0 0.7rem;
			user-select: none;
		}
	}

	.dropdown {
		position: absolute;
		top: 100%;
		width: 100%;
		border-radius: inherit;
		box-shadow: var(--dropdown-shadow);
		z-index: -1;
		overflow: hidden;

		.options {
			background-color: var(--color-grey2);

			.option {
				display: flex;
				align-items: center;
				padding: 0 0.7rem;
				cursor: pointer;
				color: var(--color-grey0);

				&:hover {
					background-color: var(--color-grey3);
				}
			}
		}
	}
}
