.combobox_container {
	height: inherit;
	width: 100%;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	border-radius: inherit;
	background-color: inherit;
	line-height: 0.9rem;
	border-color: inherit;
	color: inherit;

	.select_display {
		width: 100%;
		height: inherit;
		display: flex;
		flex: none;
		justify-content: space-between;
		background-color: inherit;
		border-radius: inherit;
		overflow: hidden;
		border: 1px solid transparent;
		color: inherit;

		&:not(&:has(.display_text:read-only)) {
			border-color: inherit;
		}

		.display_text {
			width: 100%;
			height: 100%;
			padding-left: 0.7rem;
			color: inherit;
			cursor: text;
			font-weight: 600;

			&:read-only {
				outline: none;
				cursor: pointer;
			}
		}

		.down_arrow {
			display: flex;
			align-items: center;
			width: max-content;
			height: 100%;
			font-weight: 400;
			cursor: pointer;
			padding: 0 0.7rem;
			user-select: none;
			color: inherit;
		}
	}

	.dropdown {
		position: absolute;
		top: calc(100% + 2px);
		width: 100%;
		height: max-content;
		max-height: 15rem;
		border-radius: inherit;
		box-shadow: var(--dropdown-shadow);
		z-index: 1;
		overflow-y: auto;
		background-color: inherit;

		.options {
			width: 100%;
			height: max-content;

			.option {
				width: 100%;
				height: 2rem;
				display: flex;
				align-items: center;
				padding: 0 0.7rem;
				cursor: pointer;
				color: inherit;
				font-weight: 400;

				&:hover {
					backdrop-filter: brightness(70%);
				}
			}
		}
	}
}
