.table_manager_container {
	position: relative;
	--manager-border: 1px solid var(--color-text-light-soft);
	width: 20rem;
	max-width: 40rem;
	min-width: 15rem;
	height: 100%;
	grid-area: table_manager;
	background-color: var(--color-primary);
	border-right: 1px solid var(--color-text-light-soft);
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
	scrollbar-color: var(--color-text-light-soft) var(--color-primary);

	.resizer {
		position: absolute;
		height: 100%;
		width: 2px;
		top: 0;
		right: 0;
		cursor: col-resize;
	}

	&.disabled {
		pointer-events: none;
	}

	.manager_title_section {
		height: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		background-color: var(--color-secondary);

		.manager_title {
			font-weight: 600;
			color: var(--color-text-light-soft);
		}
	}

	.tab_section {
		height: 2rem;
		background-color: var(--color-secondary);
		border-top: var(--manager-border);
		display: flex;
		flex-flow: row nowrap;
		user-select: none;
		flex-shrink: 0;

		.tab {
			height: 100%;
			width: 6rem;
			border-radius: 0;
			border-right: var(--manager-border);
			border-bottom: var(--manager-border);
			background-color: var(--color-secondary);
			flex: none;
			cursor: pointer;
			color: var(--color-text-light);
			font-weight: 400;
			font-size: 0.95rem;

			&.active {
				background-color: var(--color-primary);
				border-bottom: none;
			}
		}

		.tab_section_fill {
			width: 100%;
			height: 100%;
			border-bottom: var(--manager-border);
		}
	}

	.manager_section {
		width: 100%;
		height: 100%;
		background-color: var(--color-primary);
		padding: 0 0.5rem;
		overflow-y: auto;
		overflow-x: hidden;
		scrollbar-gutter: stable both-edges;

		.element_editor_section {
			display: flex;
			width: 100%;
			height: max-content;
			flex-flow: column nowrap;
			align-items: center;

			.element_editor_title_wrapper {
				position: relative;
				z-index: 1;
				padding: 0.25rem 1.2rem;

				.element_editor_title_shape {
					--inset: 8%;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: var(--color-accent);
					z-index: -1;
					clip-path: polygon(0% 0%, 100% 0%, calc(100% - var(--inset)) 100%, var(--inset) 100%);
					-webkit-clip-path: polygon(0% 0%, 100% 0%, calc(100% - var(--inset)) 100%, var(--inset) 100%);
				}

				.element_editor_title {
					color: var(--color-primary);
					font-weight: 800;
				}
			}
		}

		.element_list {
			position: relative;
			width: 100%;
			height: max-content;
			padding-top: 1rem;
			display: flex;
			flex-flow: column nowrap;
			gap: 0.5rem;
			padding-bottom: 2rem;

			.no_element_text {
				color: var(--color-text-light-soft);
				font-weight: 400;
				opacity: 0.6;
			}

			.element {
				width: 100%;
				height: max-content;
				background-color: var(--color-secondary);
				border: var(--manager-border);
				border-radius: 0.25rem;
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				padding: 0.5rem 0.5rem;
				cursor: move;

				&.checked {
					outline: 1px solid var(--color-accent);
					border-color: var(--color-accent);
				}

				&.hidden {
					opacity: 0.5;
				}

				.select_btn,
				.show_hide_btn,
				.edit_btn {
					height: 100%;
					padding: 0 0.25rem;
					display: flex;
					align-items: center;
					cursor: pointer;

					svg {
						width: 14px;
						height: auto;

						* {
							stroke: var(--color-text-light-extra-soft);
						}
					}

					&.show_hide_btn svg {
						width: 16px;
					}

					&.select_btn {
						&.checked {
							svg path {
								fill: var(--color-text-light);

								&:last-child {
									fill: var(--color-text-light);
								}
							}
						}

						svg {
							path {
								stroke: transparent;

								&:last-child {
									fill: transparent;
								}
							}

							* {
								fill: var(--color-text-light-extra-soft);
							}
						}
					}
				}

				.name {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					color: var(--color-text-light);
					padding-left: 0.5rem;
					user-select: none;
					font-size: 0.9rem;
					font-weight: 400;
				}
			}
		}
	}

	.action_section {
		width: 100%;
		height: 1.8rem;
		display: flex;
		flex-flow: row nowrap;
		background-color: var(--color-secondary);
		border-top: var(--manager-border);
		flex-shrink: 0;
		padding: 0 0.5rem;
		--action-btn-color: var(--color-text-light);

		.actions_left .action_btn,
		.actions_right .action_btn {
			height: 100%;
			cursor: pointer;
			padding: 0 0.5rem;
			display: flex;
			align-content: center;

			&:hover {
				opacity: 0.6;
			}
		}

		.actions_left {
			width: 100%;
			height: 100%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: end;
			justify-content: start;

			.delete_element_btn {
				svg {
					width: 14px;
					height: auto;

					* {
						fill: var(--action-btn-color);
					}
				}
			}
		}

		.actions_right {
			width: 100%;
			height: 100%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: end;
			justify-content: end;

			.add_element_btn,
			.save_element_btn {
				svg {
					width: 16px;
					height: auto;

					* {
						fill: var(--action-btn-color);
					}
				}
			}
		}
	}
}
