.page {
	width: 100%;
	height: 100%;
	position: relative;
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	grid-template-rows: 1fr;
	grid-template-areas: 'table_manager table_display table_settings';
	overflow: hidden;
	background-color: var(--color-dark);
}
