.entry_edit_container {
	width: 100%;
	height: max-content;
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
	margin-top: 1.5rem;

	.name_input_section {
		width: 100%;
		display: flex;
		justify-content: center;

		.name_input {
			width: max-content;
			min-width: 8rem;
			field-sizing: content;
			padding: 0.2rem 0.5rem;
			text-align: center;
			background-color: inherit;
			border-bottom: var(--manager-border);
			color: var(--color-grey0);

			&::placeholder {
				color: inherit;
				opacity: 0.6;
			}
		}
	}

	.entry_attribute_section {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;

		.input_section {
			width: 100%;
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: 1fr 8rem 1fr;
			padding: 1rem 0;
			gap: 0.5rem;

			.prefix {
				justify-self: end;
				align-self: center;
			}

			.value_input_wrapper {
				background-color: var(--color-grey2);
				color: var(--color-grey0);
			}

			.boolean_value_input_wrapper {
				width: 100%;
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				gap: 2rem;

				.radio_input {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;

					label {
						padding: 0 0.5rem;
					}

					input {
					}
				}
			}

			.suffix {
				justify-self: start;
				align-self: center;
			}
		}
	}
}
