@keyframes brightnessFade {
	0% {
		filter: brightness(100%);
		backdrop-filter: brightness(100%);
	}
	10% {
		filter: brightness(130%);
		backdrop-filter: brightness(130%);
	}
	50% {
		filter: brightness(130%);
		backdrop-filter: brightness(130%);
	}
	100% {
		filter: brightness(100%);
		backdrop-filter: brightness(100%);
	}
}

.entry_edit_container {
	width: 100%;
	height: max-content;
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
	margin-top: 1.5rem;

	.name_input_section {
		width: 100%;
		display: flex;
		justify-content: center;

		.name_input {
			width: max-content;
			min-width: 8rem;
			field-sizing: content;
			padding: 0.2rem 0.5rem;
			text-align: center;
			background-color: inherit;
			border-bottom: 1px solid var(--color-text-light-extra-soft);
			color: var(--color-text-light);

			&::placeholder {
				color: inherit;
				opacity: 0.6;
			}
		}
	}

	.entry_attribute_section {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		border-radius: 0.5rem;

		.section_label_wrapper {
			width: 100%;
			color: var(--color-text-light-soft);
			border-color: var(--color-text-light-soft);
		}

		&.highlighted {
			animation: brightnessFade 1.5s linear forwards;
		}

		.input_section {
			width: 100%;
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: max-content 1fr max-content;
			padding: 1rem 0;
			gap: 0.5rem;

			.prefix {
				justify-self: end;
				align-self: center;
				color: var(--color-text-light-soft);
			}

			.value_input_wrapper {
				background-color: var(--color-primary);
				color: var(--color-text-light);
			}

			.textNamePicker {
				height: 2rem;
				background-color: var(--color-secondary);
				border-radius: 0.5rem;
				color: var(--color-text-light);
				border-color: var(--color-text-light-soft);
			}

			.boolean_value_input_wrapper {
				width: 100%;
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				gap: 2rem;

				.radio_input {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;

					label {
						padding: 0 0.5rem;
						color: var(--color-text-light);
					}

					input {
					}
				}
			}

			.suffix {
				justify-self: start;
				align-self: center;
				color: var(--color-text-light-soft);
			}
		}

		.rating_input_section {
			width: 100%;
			display: flex;
			justify-content: center;

			.rating_input_wrapper {
				width: 8rem;
				padding-bottom: 1rem;
				color: var(--color-text-light);

				&.score {
					padding-top: 0.5rem;
				}
			}
		}
	}
}
