.importance_scale_container {
	height: 100%;
	aspect-ratio: 3/2;
	/* background-color: white; */
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;

	.importance_bar {
		background-color: black;
		width: calc(100% / 11);

		&:nth-child(1) {
			height: 2%;
			background-color: #ff0000;
		}
		&:nth-child(2) {
			height: 10%;
			background-color: #ff3300;
		}
		&:nth-child(3) {
			height: 20%;
			background-color: #ff6600;
		}
		&:nth-child(4) {
			height: 30%;
			background-color: #ff9900;
		}
		&:nth-child(5) {
			height: 40%;
			background-color: #ffcc00;
		}
		&:nth-child(6) {
			height: 50%;
			background-color: #ffff00;
		}
		&:nth-child(7) {
			height: 60%;
			background-color: #cce600;
		}
		&:nth-child(8) {
			height: 70%;
			background-color: #99cc00;
		}
		&:nth-child(9) {
			height: 80%;
			background-color: #66b300;
		}
		&:nth-child(10) {
			height: 90%;
			background-color: #339900;
		}
		&:nth-child(11) {
			height: 100%;
			background-color: #008000;
		}
	}
}
