.attribute_modal_container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 3;
	backdrop-filter: blur(2px);
	--section-padding: 0 0 1rem 0;
	--section-margin-top: 1rem;

	.attribute_modal {
		width: 40rem;
		height: 30rem;
		background-color: var(--color-grey5);
		border-radius: 1.5rem;
		box-shadow: 0 0 1rem var(--color-grey5);
		overflow-y: auto;

		.attribute_modal_contents {
			width: 100%;
			height: max-content;
			padding: 1rem 2rem;
			display: flex;
			flex-flow: column nowrap;

			.section_label {
				position: absolute;
				width: max-content;
				color: var(--color-grey2);
				transform: translateY(calc(-50% - var(--section-margin-top)));
				background-color: var(--color-grey5);
				padding: 0 0.5rem;
			}

			.name_input_section {
				width: 100%;
				display: flex;
				justify-content: center;
				padding: var(--section-padding);
				border-bottom: var(--modal-border);

				.name_input {
					width: 18em;
					height: 2rem;
					padding: 0.5rem;
					border-radius: 1rem;
					text-align: center;
					background-color: inherit;
					border: 1px solid var(--color-grey1);
				}
			}

			.data_section {
				width: 100%;
				padding: var(--section-padding);
				margin-top: var(--section-margin-top);
				border-bottom: var(--modal-border);
				display: flex;
				justify-content: space-around;

				.attribute_type_dropdown {
					width: 10rem;
				}

				.type_data_input {
					width: 10rem;
					display: flex;
					flex-flow: row nowrap;
					background-color: var(--color-grey5);
					color: var(--color-grey0);
				}
			}

			.importance_section {
				width: 100%;
				display: flex;
				justify-content: center;
				padding: var(--section-padding);
				border-bottom: var(--modal-border);

				.importance {
					width: 12rem;
				}
			}
		}
	}
}
