.dropdown_container {
	position: relative;
	width: 100%;
	height: max-content;
	cursor: pointer;
	--padding: 0.5rem 0.8rem;
	z-index: 1;
	border-radius: inherit;
	background-color: inherit;
	color: inherit;
	border-color: inherit;

	&.dropped .dropdown_display {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.dropdown_display {
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding: var(--padding);
		user-select: none;
		background-color: inherit;
		border-radius: inherit;
		color: inherit;

		.dropdown_display_text {
			width: 100%;
			color: inherit;
		}

		.down_arrow {
			width: max-content;
			color: inherit;
		}
	}

	.dropdown {
		position: absolute;
		width: 100%;
		height: max-content;
		max-height: 15rem;
		background-color: inherit;
		border-top: 1px solid transparent;
		border-color: inherit;
		border-radius: inherit;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		overflow-y: auto;
		z-index: -1;
		color: inherit;

		.options {
			width: 100%;
			height: max-content;
			color: inherit;

			.option {
				width: 100%;
				height: max-content;
				display: flex;
				align-items: center;
				padding: var(--padding);
				color: inherit;

				&:hover {
					backdrop-filter: brightness(70%);
				}
			}
		}
	}
}
