.attribute_edit_container {
	width: 100%;
	height: max-content;
	display: flex;
	flex-flow: column nowrap;
	padding-bottom: 2rem;

	.section_info_wrapper {
		width: 100%;
		display: flex;
		justify-content: end;

		svg * {
			fill: var(--color-text-light-extra-soft);
		}
	}

	.attribute_edit_section {
		position: relative;
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;

		.section_label_wrapper {
			width: 100%;
			color: var(--color-text-light-soft);
			border-color: var(--color-text-light-soft);
		}

		&.name_input_section {
			padding: 1rem 0;
			gap: 1rem;

			.name_input {
				width: max-content;
				min-width: 8rem;
				field-sizing: content;
				padding: 0.2rem 0.5rem;
				text-align: center;
				background-color: inherit;
				border-bottom: 1px solid var(--color-text-light-extra-soft);
				color: var(--color-text-light);

				&::placeholder {
					color: inherit;
					opacity: 0.6;
				}
			}

			.prefix_suffix_wrapper {
				width: 12rem;
				display: flex;
				flex-flow: row nowrap;
				gap: 1rem;
				background-color: var(--color-primary);
				border-color: var(--color-text-light-soft);
				color: var(--color-text-light);
			}
		}

		&.type_section {
			padding-bottom: 1rem;

			.attribute_type_dropdown {
				width: 10rem;
				background-color: var(--color-secondary);
				border-radius: 0.5rem;
				border-color: var(--color-text-light-extra-soft);
				color: var(--color-text-light);
			}
		}

		&.range_setup_section {
			padding-bottom: 1rem;

			.input_wrapper {
				width: 100%;
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items: end;
				padding-top: 1rem;

				.input_label {
					min-width: 5rem;
					color: var(--color-text-light);
				}

				.range_length_selectors {
					width: 100%;
					display: flex;
					flex-flow: row nowrap;
					justify-content: space-around;

					.range_length_selector {
						position: relative;
						display: flex;
						flex-flow: column nowrap;

						label {
							position: absolute;
							width: max-content;
							top: -0.2rem;
							left: 50%;
							transform: translate(-50%, -100%);
							color: var(--color-text-light);
						}

						/* input {
						} */
					}
				}

				.range_input {
					margin-top: 0.5rem;
					width: 100%;
					display: flex;
					flex-flow: row nowrap;
					background-color: var(--color-primary);
					color: var(--color-text-light);
				}

				.range_best_wrapper {
					width: 100%;
					display: flex;
					flex-flow: row nowrap;
					justify-content: space-around;
					margin-top: 1.5rem;

					.range_best_selector {
						position: relative;
						display: flex;
						flex-flow: column nowrap;

						label {
							position: absolute;
							width: max-content;
							top: -0.2rem;
							left: 50%;
							transform: translate(-50%, -100%);
							color: var(--color-text-light);
						}

						/* input {
						} */
					}
				}
			}
		}

		&.best_boolean_section {
			padding: 1rem 0;

			.best_boolean_selectors {
				width: 100%;
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				gap: 3rem;

				.best_boolean_selector {
					display: flex;
					flex-flow: row nowrap;

					label {
						padding-right: 0.5rem;
						color: var(--color-text-light);
					}
				}
			}
		}

		&.rating_method_section {
			padding: 1rem 0;

			.rating_methods {
				display: flex;
				flex-flow: column nowrap;
				align-items: end;
				gap: 0.5rem;

				.no_rating_selector,
				.self_rated_selector,
				.name_matching_selector {
					display: flex;
					flex-flow: row nowrap;

					label {
						padding-right: 0.5rem;
						color: var(--color-text-light);
					}
					/* input {
					} */
				}
			}
		}

		&.name_rating_pairs {
			width: 100%;
			padding-bottom: 1rem;
			display: flex;
			flex-flow: column nowrap;

			.name_rating_pair {
				width: 100%;
				display: flex;
				flex-flow: row nowrap;
				gap: 0.5rem;
				align-items: center;

				&:not(:last-child) {
					padding-bottom: 1rem;
				}

				.delete_pair_btn {
					cursor: pointer;

					&:hover {
						opacity: 0.6;
					}
					svg {
						width: 12px;
						height: auto;

						path {
							fill: var(--color-text-light-soft);
						}
					}
				}

				.name_rating_pair_name {
					width: 100%;
					background-color: var(--color-primary);
					color: var(--color-text-light);
				}

				.name_colon {
					color: var(--color-text-light);
				}

				.name_rating_pair_rating {
					width: 8rem;
					background-color: var(--color-primary);
					color: var(--color-text-light);
				}
			}

			.add_pair_btn {
				cursor: pointer;

				&:hover {
					opacity: 0.6;
				}

				svg {
					width: 18px;
					height: auto;

					path {
						fill: var(--color-text-light);
					}
				}
			}
		}

		&.importance_section {
			.importance {
				width: 12rem;
				color: var(--color-text-light);
			}
		}
	}
}
