.child_element {
	position: relative;
	height: 100%;
	display: block;
}

.tooltip {
	position: fixed;
	background-color: var(--color-grey5);
	pointer-events: none;
	width: max-content;
	max-width: 18rem;
	height: max-content;
	padding: 0.2rem 0.5rem;
	color: var(--color-light-text);
	font-weight: 400;
	border: 1px solid var(--color-grey1);
	border-radius: 0.3rem;
	transform: translateY(-100%);
	white-space: pre-line;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.1s linear, visibility 0s linear 0.1s;
	z-index: 1;

	&.visible {
		transition: opacity 0.2s linear;
		opacity: 1;
		visibility: visible;
	}

	&.onRight {
		transform: translate(-100%, -100%);
	}
}
