.child_element {
	position: relative;
	height: 100%;
	display: block;
}

.tooltip {
	position: fixed;
	background-color: var(--color-dark);
	pointer-events: none;
	width: max-content;
	max-width: 18rem;
	height: max-content;
	padding: 0.2rem 0.5rem;
	color: var(--color-text-light);
	font-weight: 500;
	font-size: small;
	border: 1px solid var(--color-text-light);
	border-radius: 0.3rem;
	transform: translateY(-100%);
	white-space: pre-line;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.1s linear, visibility 0s linear 0.1s;
	z-index: 1;

	&.visible {
		transition: opacity 0.2s linear;
		opacity: 1;
		visibility: visible;
	}

	&.onRight {
		transform: translate(-100%, -100%);
	}
}
