.nav_container {
	height: var(--nav-height);
	background-color: var(--color-grey1);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: '. comparisons .';

	.comparison_dropdown {
		grid-area: comparisons;
		justify-self: center;
		align-self: center;
		z-index: 1;
		width: 15rem;
	}
}
