.nav_container {
	height: var(--nav-height);
	background-color: var(--color-grey4);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: '. comparisons .';

	.comparison_dropdown_wrapper {
		grid-area: comparisons;
		justify-self: center;
		align-self: center;
		z-index: 1;
		width: 20rem;
		height: 2rem;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: 0.5rem;

		.new_comparison_btn {
			height: inherit;
			aspect-ratio: 1/1;
			border-radius: 0.5rem;
			cursor: pointer;
		}
	}

	.new_comparison_container {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		backdrop-filter: blur(2px) brightness(75%);
		z-index: 10;
		pointer-events: none;
		display: flex;
		justify-content: center;
		align-items: start;
		padding-top: 10rem;

		.new_comparison_modal {
			width: max-content;
			height: max-content;
			background-color: var(--color-grey4);
			pointer-events: all;
			border-radius: 1rem;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			gap: 1rem;
			padding: 1rem;

			.comparison_title {
			}

			.comparison_name_input {
				width: 18rem;
				background-color: inherit;
			}

			.comparison_modal_btn_section {
				width: 100%;
				display: flex;
				flex-flow: row nowrap;
				justify-content: end;
				align-items: end;
				gap: 0.5rem;

				.add_comparison_btn,
				.cancel_add_comparison_btn {
					width: 1.2rem;
					aspect-ratio: 1/1;
					border-radius: 0.25rem;
					cursor: pointer;
					background-color: var(--color-grey2);
					color: var(--color-grey0);
					font-weight: 600;
				}
			}
		}
	}
}
