.special_input_container {
	position: relative;
	width: 100%;
	min-width: 0;
	height: max-content;
	background-color: inherit;
	flex: 1 1 0;
	color: inherit;
	border-color: inherit;

	.special_input {
		width: 100%;
		height: 2rem;
		padding: 0.5rem 0.5rem;
		border: 1px solid transparent;
		border-color: inherit;
		border-radius: 0.5rem;
		outline: none;
		overflow: hidden;
		white-space: nowrap;
		color: inherit;
		background-color: inherit;

		/* Chrome, Safari, Edge, Opera */
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		&[type='number'] {
			-moz-appearance: textfield;
		}
	}

	.special_input_label {
		position: absolute;
		top: 0;
		transform: translateY(0.5rem);
		opacity: 0.5;
		color: inherit;
		pointer-events: none;
		transition: transform 0.1s ease-out;
		padding: 0 0.5rem;

		&.filled {
			opacity: 1;
			transform: translateY(-50%) scale(0.85);
			background-color: inherit;
		}
	}
}
