.table_settings_bar_container {
	grid-area: table_settings;
	width: 2.2rem;
	height: 100%;
	background-color: var(--color-grey3);
	padding: 0.5rem 0;

	.display_settings {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-auto-rows: 1fr;
		align-content: start;

		.setting_section:has(.delete_btn) {
			align-self: end;
		}

		.setting_section {
			width: 100%;
			height: max-content;
			padding: 0.5rem 0;
			display: flex;
			flex-flow: column nowrap;

			&:not(&:last-child) {
				border-bottom: 1px solid var(--color-grey5);
			}

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
			}

			.shrink_btn,
			.color_cells_btn,
			.download_btn,
			.copy_btn,
			.delete_btn {
				width: 100%;
				padding: 0.5rem 0;
				cursor: pointer;

				svg {
					height: 18px;
					width: auto;
				}

				&:hover {
					opacity: 0.6;
				}

				&.shrink_btn.active {
					opacity: 0.6;
				}

				&.color_cells_btn {
					svg * {
						stroke: none;
					}
				}

				&.color_cells_btn:not(&.active) {
					svg * {
						fill: var(--color-grey0);
						stroke: black;
						stroke-width: 2px;
					}
				}

				&.download_btn {
					svg * {
						fill: var(--color-grey0);
					}

					&:disabled {
						opacity: 0.6;
					}
				}

				&.copy_btn {
					svg * {
						fill: var(--color-grey0);
					}
				}

				&.delete_btn {
					svg * {
						fill: var(--color-grey0);
					}
				}
			}
		}
	}
}
