.table_settings_bar_container {
	--border: 1px solid var(--color-text-light-soft);
	grid-area: table_settings;
	width: 2.5rem;
	height: 100%;
	background-color: var(--color-primary);
	border-left: 1px solid var(--color-text-light-soft);
	padding: 0.5rem 0;

	.display_settings {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-auto-rows: 1fr;
		align-content: start;

		.setting_section:has(.delete_btn) {
			align-self: end;
		}

		.setting_section {
			width: 100%;
			height: max-content;
			padding: 0.5rem 0;
			display: flex;
			flex-flow: column nowrap;

			&:not(&:last-child) {
				border-bottom: var(--border);
			}

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
			}

			.shrink_btn,
			.color_cells_btn,
			.download_btn,
			.copy_btn,
			.delete_btn,
			.copied_check {
				width: 100%;
				padding: 0.5rem 0;
				cursor: pointer;

				svg {
					height: 18px;
					width: auto;
				}

				&:not(&.color_cells_btn) svg * {
					fill: var(--color-text-light-soft);
				}

				&:not(&.copied_check):hover {
					opacity: 0.6;
				}

				&.color_cells_btn {
					svg {
						height: 22px;
						* {
							stroke: none;
						}
					}
				}

				&.color_cells_btn:not(&.active) {
					svg * {
						fill: var(--color-text-light);
						stroke: var(--color-text-dark);
						stroke-width: 2px;
					}
				}

				&.download_btn {
					&:disabled {
						opacity: 0.6;
					}
				}

				/* &.copy_btn {
				
				}

				&.delete_btn {
				
				} */

				&.copied_check {
					text-align: center;
					transform: scale(0.8);
					cursor: default;

					svg * {
						fill: green;
					}
				}
			}
		}
	}
}
